@import "common";

#welcome #hero {
	padding-top: 2em;
	background-color: $black;
}

#welcome #hero h1 {
	margin-top: 2em;
	color: darken($orange, 0%);
}

#welcome #hero h2 {
	color: lighten($black, 10%);
}


/*
	Ref: http://foundation.zurb.com/docs/media-queries.html
	max-width 640px, mobile-only styles, use when QAing mobile issues
*/
@media only screen and (max-width: 40em) {
	#welcome #hero h1,
	#welcome #hero h2 {
		text-align: center;
	}
}


/*
	Ref: http://foundation.zurb.com/docs/media-queries.html
	min-width 1025px, large screens
*/
@media only screen and (min-width: 64.063em) {
	#welcome #hero h2 {
		font-size: 1.4em;
	}
}
