<footer>
	<div class="row">
		<div class="small-2 columns">
			<a href="http://twitter.com/iemergeagency"><%= image_tag("logos/Twitter_logo_blue-100x81.png") %></a>
		</div><!-- /.medium-# columns -->
		<div class="small-2 columns">
			<a href="http://twitter.com/iemergeagency"><%= image_tag("logos/FB-f-Logo__blue_100x100.png") %></a>
		</div><!-- /.medium-# columns -->
		<div class="small-8 columns">
			<p>
				&copy; <%= Time.now.year %> iEmerge Agency<br />
				Website by Pencil Case Studios
			</p>
		</div><!-- /.medium-# columns -->
	</div><!-- /.row -->
</footer>
